<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NPR Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron text-center py-3">
  <h1 class="display-4">Scraping</h1>
  <img src="npr.png" width="50%">
  <p class="lead">To view the most current articles on NPR click the scrape button below.</p>
  <hr class="my-4">
  

  <button class="btn btn-danger btn-lg" id="clearScrape" role="button">Clear Articles</button>
  <button class="btn btn-dark btn-lg" id="scrape" role="button">Scrape NPR</button>
  <a href="/favorites"class="btn btn-primary btn-lg" id="viewFavorites" role="button">View Favorites</a>

</div>



    {{{body}}}

    <div id="myModal"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{!-- could add specifics here --}}
        <h5 class="modal-title">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<div id="previousComments"></div>

<form>
   <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="nameInput" placeholder="Name">
  </div>
        <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" id="commentInput" rows="3"></textarea>
  </div>
  </form>

      </div>
      <div class="modal-footer">
        <div id="saveCommentDiv"></div>
        {{!-- <button id ="saveComment" type="button" class="btn btn-primary">Save Comment</button> --}}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
    <script src="app.js"></script>
</body>
</html>